/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  exclude: rootscrollgutter;
}

html, body {
  height: 100%;
  background-color: theme('colors.base.200'); /* if using Tailwind's theme */
}
